In [1]:
import pandas as pd
import wikipedia as wp

### Scrapping the Wikipedia data for Toronto Neighborhoods

In [13]:
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8") 
toronto_data = pd.read_html(html, index_col = None)[0]
toronto_data = toronto_data.loc[toronto_data['Borough'] != 'Not assigned']
data = toronto_data.groupby("Postal Code").first().reset_index()
data.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

### Downlaoding the csv file

In [12]:
geospatial_df = pd.read_csv('http://cocl.us/Geospatial_data')
geospatial_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [14]:
data[['Latitude', 'Longitude']] = geospatial_df[['Latitude', 'Longitude']]

In [15]:
data.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476